.tournament-container {
  background: #f7f7fe;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.main-title {
  background: var(--admin-surface);
  margin: 10px 10vw;
  padding: 8px 13px;
  font-family: "Hind";
  color: #0c0744;
  font-size: 18px;
}

.main-title a {
  font-family: "Hind";
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 25px;
  text-decoration: none;
  color: #0c0744;
}

.form-container {
  margin: 30px 10vw;
  margin-bottom: 0;
  padding: 20pt;
  background-color: var(--admin-surface);
  border-radius: 10px;
  text-align: center;
}

.form-container img {
  width: 160px;
}

.form-field-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 15pt;
}

.form-field-name {
  flex-basis: 30%;
  font-family: "Hind";
  font-size: 16px;
  color: var(--admin-text);
}

.form-field-value {
  flex-basis: 70%;
  font-family: "Hind";
  font-weight: 100;
  font-size: 16px;
  color: var(--admin-text);
}

.form-input {
  border: 0.5px solid #d7d8ed;
  padding: 10px;
  width: 100%;
  background-color: #f7f7fe;
}

.form-field-value-tshirt {
  flex-basis: 70%;
  font-family: "Hind";
  font-weight: 100;
  font-size: 16px;
  color: var(--admin-text);
  display: flex;
  flex-direction: row;
}

.form-submit-button {
  background: #0c0744;
  border: none;
  color: white;
  font-family: "Hind";
  font-size: 20px;
  padding: 6px;
  width: 160px;
}

.t-shirt {
  background-color: #f7f7fe;
  padding: 50px;
  margin-right: 20px;
}

.selected-files {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.selected-file {
  border: 1px solid #d7d8ed;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  font-family: "Hind";
  font-size: 18px;
}

.selected-file:hover {
  background-color: #d7d8ed;
}

.selected-file a {
  text-decoration: none;
  color: var(--admin-text);
}

.selected-file img {
  width: 20px;
  margin-left: 20px;
}

.form-checkbox {
  font-size: 18px;
  font-family: "Hind";
  margin-left: 20px;
  margin-bottom: 0;
}

.form-checkboxes {
  padding: 0;
  margin: 0;
  height: 35px;
}

.t-shirt-label {
    font-size: 18px;
    font-family: "Hind";
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
