.team-container{
  display: flex;
  flex-direction: row;
}

.team {
  background-color: #302D2D;
}

.team-title{
  padding: 5vw;
  padding-bottom: 0;
  font-family: 'Hind', sans-serif;
  font-size: 4vw;
  color: white;
}

.team-title p{
  font-family: 'Hind', sans-serif;
  font-size: 4vw;
}

.team-description {
  padding: 5vw;
  padding-top: 0;
  font-family: 'Hind', sans-serif;
  font-size: 1vw;
  color: white;
}

.team-photo img{
  height: 28vw;
  width: fit-content;
}

@media screen and (max-width: 920px) {
  .team-container{
    background-image: url('../../../assests/images/team-image-new.jpeg');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .team-photo{
    display: none;
  }

  .team {
    background-color: rgba(48, 73, 105, 0.5);
  }
}

@media screen and (max-width: 920px) {
  .team-description {
    font-size: 1.6vw;
  }

  .team-title, .team-title p{
    font-size: 5vw;
  }
}

@media screen and (max-width: 500px) {
  .team-description {
    font-size: 2vw;
  }

  .team-title, .team-title p{
    font-size: 6vw;
  }
}

@media screen and (max-width: 400px) {
  .team-description {
    font-size: 2.5vw;
  }

  .team-title, .team-title p{
    font-size: 8vw;
  }
}
