/* TimelineComponent.css */
.timeline-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .timeline-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
    color: rgb(28, 17, 83);
    margin-top: 8%;
  }
  
  .timeline {
    position: relative;
    padding: 0px 0;
  }
  
  .timeline-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #082951;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .timeline-content {
    width: 45%;
    position: relative;
  }
  
  /* Left side items */
  .timeline-item.left .timeline-content:first-child {
    text-align: right;
    padding-right: 32px;
  }
  
  .timeline-item.left .timeline-content:last-child {
    text-align: left;
    padding-left: 32px;
  }
  
  /* Right side items */
  .timeline-item.right .timeline-content:first-child {
    text-align: right;
    padding-right: 32px;
    order: 2;
  }
  
  .timeline-item.right .timeline-content:last-child {
    text-align: left;
    padding-left: 32px;
    order: 1;
  }
  
  .timeline-card {
    background: rgb(241, 242, 246);
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .timeline-card.image {
    padding: 12px;
  }
  
  .timeline-card.image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    display: block;
  }
  

  
  .timeline-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 8px 0;
    color: #06192d;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: justify;

  }
  
  .timeline-description {
    color: #031323;
    margin-bottom: 0;
    font-size: 0.7rem;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeline-dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: #3B82F6;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 0 2px #3B82F6;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .timeline-line {
      left: 32px;
    }
    
    .timeline-item {
      flex-direction: column;
      padding-left: 70px;
    }
    
    .timeline-content {
      width: 100%;
    }
    
    .timeline-item.left .timeline-content,
    .timeline-item.right .timeline-content {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 16px;
    }
  
    .timeline-item.right .timeline-content:first-child {
      order: 1;
    }
  
    .timeline-item.right .timeline-content:last-child {
      order: 2;
    }
    
    .timeline-dot {
      left: 32px;
      top: 32px;
    }
  }