.Admin-yearly-configurations-container {
  background: #f7f7fe;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.main-title {
  background: var(--admin-surface);
  margin: 10px 10vw;
  padding: 8px 13px;
}

.team-photo-container {
  background: var(--admin-surface);
  color: var(--admin-text);
  margin: 60px 10vw;
  padding: 2vw;
  margin-bottom: 2vw;
  align-content: center;
  position: relative;
}

.team-photo-container img {
  align-content: center;
  opacity: 0.5;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.team-photo-container .team-photo-upload-btn {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #24becc;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  opacity: 80%;

  border-radius: 50%;
}
.team-photo-upload-btn-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #020e29;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.team-photo-upload-btn-text {
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #020e29;
  font-size: 16px;
}

.team-photo-upload-btn-symbol:hover {
  box-shadow: 0 0 11px rgba(5, 6, 58, 0.918);
}

/* team captain */
.team-captains-container {
  background: var(--admin-surface);
  color: var(--admin-text);
  margin: 60px 10vw;
  padding: 2vw;
  margin-bottom: 2vw;
  align-items: center;
  position: relative;
}
.team-captains-photos-container {
  margin-bottom: 2vw;
  align-items: center;
  /* position: inherit; */
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.captain {
  width: 20%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.captain .team-captains-photos-container {
  position: relative;
  justify-content: center;
}
.captain img {
  align-self: center;
  width: 100%;
  margin-bottom: 5px;
  opacity: 60%;
  display: flex;
  position: relative;
}
.captain img:hover {
  cursor: pointer;
  opacity: 80%;
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}
.captain-upload-btn {
  position: absolute;
  background-color: #020e29;
  color: white;
  top: 30%;

  padding: 2px 4px;
  /* font-size: 16px; */
  border: none;
  cursor: pointer;
  border-radius: 50%;
  opacity: 60%;

}
.team-photo-upload-btn-symbol{
  left: 50%;
  position: fixed;
}
.captain p {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin: 0%;
  padding-bottom: 0%;
  color: #0c0744;
}
.captain .name-conatainer {
  margin-top: 3px;
  background-color: #f7f7fe;
}
